<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    {%- seo -%}
    {%- feed_meta -%}
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}" />
  </head>
  <body>
    <nav aria-label="Main navigation">
      <ul class="site-nav">
        {% for item in site.nav %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      <h1>{{ page.title | default: site.title }}</h1>
      {{ content }}
    </main>
  </body>
</html>
